
.Container {
  padding: 30px;
  width: 100%;
}
.inputBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.InputText{
  margin: 0;
  width: 100%;

}
.FormItem {
width: 100%;
margin-right: 20px;
}

.Buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.ButtonBox {
  margin: 10px;
}

.Table {
  margin-right: 30px;
}